body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

header {
    position: absolute;
    top: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: blue;
    color: white;
    font-size: 2em;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.button-container {
    position: absolute;
    bottom: 20px;
}

#resetButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
